<!-- Compiled and minified JavaScript -->
<link rel="stylesheet" href="../static/sass/materialize.css">

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>


{% block content %}
<h1>Thank you for trying to reset your password. Please click the link below.</h1>
<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
{% endblock %}