<!-- Compiled and minified JavaScript -->
<link rel="stylesheet" href="../static/sass/materialize.css">

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>



{% extends "navigation-bar.html" %}
{% block content %}

{% set url = url_for("router.profile_edit") %}
<form method="POST" id="input" role="form" action="{% block add_link %}{{url_for('router.profile_edit_add')}}{% endblock %}">
   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
   <input type="hidden" name="id" value="{{ user.id }}"/>
    <h2>Edit Profile</h2>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s10">
                    <div class="card">
                        <table class="table table-responsive">
                            {% for parameter in parameters %}
                                {% if parameter.name == "first_name"%}
                                    <tr>
                                        <div class="col s5">
                                            <th>First Name</th>
                                            <td>
                                            <input type="text" class="form-control" name="{{parameter.name}}"
                                                placeholder="{{ user.first_name }}">
                                            </td>
                                        </div>
                                    </tr>
                                {% endif %}
                                {% if parameter.name == "last_name" %}
                                    <tr>
                                        <div class="col s5">
                                            <th>Last Name</th>
                                            <td>
                                            <input type="text" class="form-control" name="{{parameter.name}}"
                                                placeholder="{{ user.last_name }}">
                                            </td>
                                        </div>
                                    </tr>
                                {% endif %}
                                {% if parameter.name == "email" %}
                                <tr>
                                <div class="col s5">
                                    <th>Email</th>
                                    <td>
                                    <input type="text" class="form-control" name="{{parameter.name}}"
                                        placeholder="{{ user.email }}" readonly=true>
                                    </td>
                                </div>
                                </tr>
                                {% endif %}
                                {% if parameter.name == "password" %}
                                <tr>
                                    <div class="col s5">
                                        <th>Password</th>
                                        <td>
                                        <input type="password" class="form-control" name="{{parameter.name}}">
                                        </td>
                                    </div>
                                </tr>
                                <tr>
                                    <div class="col s5">
                                        <th>Retype Password</th>
                                        <td>
                                        <input type="password" class="form-control" name="retype_password">
                                        </td>
                                    </div>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <div class="col s5">
                                    <th>Next Password Reset Date</th>
                                    <td>{{ user.password_reset }}</td>
                                </div>
                            </tr>
                            <tr>
                                <div class="col s5">
                                    <th>Remaining Views</th>
                                    <td>{{ user.remaining_views }}</td>
                                </div>
                            </tr>
                        </table>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock %}