<head>
	<!-- Compiled and minified JavaScript -->
	<link rel="stylesheet" href="../static/sass/materialize.css">

	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="{{url_for('static', filename='js/script.js')}}"></script>
	{# <script type="text/javascript">      
	</script> #}

	<script src="{{url_for('static', filename='js/login_form.js')}}"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

{% extends "navigation-bar.html" %}
{% block content %}

<h1 class="center">You will need to purchase more credits</h1>

<!-- Submit a Payment -->

<form method="POST" action="/purchase_credits" role="form">
	{{ form.csrf_token }}
	<div class="row">
		<div class="col s12 m6 offset-m3">
			<div class="card grey lighten-3 ">
				<div class="card-content">
					<form>
						<div class="row">
							<div class="input-field col s12">

								<div class="row">
									<div class="input-field col s6">
										<input name="card" placeholder="Placeholder" id="first_name" type="text"
											class="validate">
										<label for="first_name">Credit Card</label>
									</div>
									<div class="input-field col s6">
										<input id="last_name" type="text" class="validate">
										<label for="last_name">CVV</label>
									</div>
								</div>

								<p>
									<label>
										<input name="little" type="checkbox" />
										<span>10 views</span>
										<span> - $0.99</span>
									</label>
								</p>

							</div>
						</div>
					</form>
				</div>
				<div class="card-action">
					<button class="btn waves-effect waves-light blue darken-1" type="submit" name="action">Pay with
						Credit Card</button>
				</div>
			</div>
		</div>
	</div>
</form>



{% endblock %}