<!-- Compiled and minified JavaScript -->
<link rel="stylesheet" href="../static/sass/materialize.css">

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/script.js')}}"></script>

<nav>
  <div class="nav-wrapper blue darken-1"><a href="/" class="brand-logo" style="padding-left: 80px;">ratemyTA</a></div>
</nav>
{% extends "base.html" %}
{% block content %}
 
<div class="add-recipe">
  <div class="page-header">
    <h2>New Password:</h2>
  </div>
  <form action="{{ url_for('router.reset_with_token', token=token) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="field-wrap">
        <label>
            New Password<span class="req">*</span>
        </label>
        <input type="password" name="password" />
    </div>
    <button class="btn btn-sm btn-success" type="submit">Update</button>
  </form>
</div>
 
{% endblock %}